@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #04060D;
  font-family: 'Montserrat', sans-serif;
  color: #D3D4D7;
  font-size: 1.25rem;
}

hr.hr {
  border: 2px solid #143AA2;
  border-radius: 5px;
}

#projects {
  transition-duration: 0.4s;
  color: #D3D4D7;
  background-color: #04060D;
  border-color: #143AA2;
  border-width: 5px;
}

#projects:hover {
  border-color: #3E8DE3;
}

.card-title {
  color: #D3D4D7;
}

#name {
  font-size: 20vmin;
}

#titles {
  font-size: 5vmin;
}

.welcome {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn {
  border-radius: 12px;
  min-width: 14ch;
  transition-duration: 0.4s;
  background-color: #143AA2;
  border-color: #3E8DE3;
  color:#D3D4D7;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 913px ) {
  html, body {
    overflow-x: hidden;
    width: 100%;
  }

  .welcome {
    padding: 70px 0;
    text-align: center;
  }

  .btn {
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color: #143AA2;
    border-color: #3E8DE3;
    color:#D3D4D7;
    justify-content: center;
    align-items: center;
  }
}

.btn:hover {
  background-color: #3E8DE3;
  border-color: #143AA2;
  color: #04060D;
}


/* .card-img, .card {
  width: 24vw;
  height: 24vw;
} */
/* 
#directory {
object-fit: cover;
} */

.navbar-dark p {
  padding: 0px;
  margin: 0px;
}

.navbar-dark {
  background-image: linear-gradient(#3E8DE3, #143AA2);
}

#me {
  height: 80vmin;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* #bio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} */

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

.tagcloud {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 650;
  margin-left: 30%;
}
.tagcloud--item:hover {
  color: #36454F;
}
